@media only screen and (max-width: 700px)  {

    
/*header*/

.portada    {
    h1  {
        font-size:50px;
    }
}


/* top-destination */


.top-container  {

    .top-destination    {
        flex-direction: column-reverse;
        margin-top: 30px;
        .top-left   {
            width: 100%;
            height: 15rem;
            a   {
                width: 150px;
                height: 50px;
            }
        }
        .top-right  {
            width: 100%;
            padding: 1rem;
            .description   {
                font-size: 1rem;
                line-height: 2rem;
            }
        }
    }
}


/*Paquetes*/

.boxes  {
    flex-direction: column;
    .box{
        width: 100%!important;
        margin-top: 50px;
        
    }

    .alojamiento    {
        margin: 0;
    }
}

/* destinos*/

.destinos   {
    .section-destinos   {
        .destino-container  {
            width: 100%!important;
            .photo-destino  {
                width: 100%;
            }
        }
    }
}



/*conocenos*/



/*footer*/
.footer  {
    justify-content: space-around;
}

.footer-contact p   {
    display: none;
}

.footer-contact     {
    width: 40%;
}


}

