@import"../base/variables";

#contacto   {
    background-color: $bg-light;
    padding: 3rem 2rem;

    h2  {
        margin-bottom: 2rem;
    }

    .contacto-info   {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .boton-formulario   {
        background-color: $bg-color;
        width: 25%;
        height: 40px;
        justify-content: center;
        display: flex;
        align-items: center;
        text-decoration: none;
        border-radius: 0.5rem;
        color: #e7e7e7;
        margin: 0 0 2rem 0;
    }
}
