@import"../base/variables";

.conocenos  {
    background-color: $bg-light;
    padding: 0 2rem;

    .conocenos-photos   {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        

        .photo    {
            border-radius: 200px;
            width: 15%;
            box-shadow: 0px 0px 14px rgb(122, 122, 122); 
            margin: 0px 4%;  
        }
    
    }

    .conocenos-text     {
        font-size: 2rem;
        text-align: center;
        margin: 20px;
        font-style: italic;
    }

    &:hover .ricardo   {
        transform: translateX(100px);
    }
    
    &:hover .enrique   {
        transform: translateX(-100px);
    }
    
    .ricardo,.enrique   {
        transition: all 2s ease-in-out;
    }
    
}