@import "../base/variables";

.formulario     {
    margin: 2%;

    background-color: #e7e7e7;
    border-radius: 0.5rem;
    padding: 2%;
    border: 1px solid rgb(145, 145, 145);

    legend     {
        margin-bottom: 2%;
    }

    .fieldset-2     {
        margin-top:4%;
    }

    

}


